/* fluid layout : fixed layout is set width:100% and height is also in height:% or px that type of layout is called fluid layout

 responsive check in browers : chrome shift+ctrl+i
 responsive check in browers : firefox shift+ctrl+m

 width:100%;
 height:% or px;
 magin:10%;
 padding:10%;

*/

body 
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
}
html ul li 
{
    margin: 0px;
    padding: 0px;
}
#header 
{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 18px 20px;
    background-color: white;
    box-shadow: 0px 2px 2px 0px gray;
    display: flex;
    flex-direction: row;
}
.logo 
{
    width: 30%;
    height: auto;
    margin: 0;
    padding: 5px;
    font-size: 25px;
    letter-spacing: 2px;
}
.search 
{
    width: 40%;
    height: auto;
    margin: 0;
    padding: 5px;
}
.search input 
{
    width: 90%;
    height: auto;
    padding: 8px;
}
.social 
{
    width: 30%;
    height: auto;
    margin: 0;
    padding: 5px;
    font-size: 25px;
    margin-left: 5%;
    letter-spacing: 2px;
}

#navbar 
{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 5px 25px;
    background-color: black;
}
.nav ul li
{
    display: inline-block;
    padding: 5px 25px;
}
.nav a 
{
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 20px;
}
.fa-cart 
{
    color: white !important;
}

#content 
{
    width: 80%;
    height: auto;
    margin: auto;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.account-info 
{
    width: 40%;
    height: auto;
    background-color: black;
    color: white;
    padding: 25px;

}
.account-form
{
width: 60%;
height: auto;
margin: 0px;
padding: 25px;
}
.account-form input 
{
    width: 60%;
    height: auto;
    padding: 10px;
   
}
.account-form input[type="submit"]
{
    width: 20%;
    height: auto;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
}
::placeholder 
{
    color: black !important;

}
@media only screen and (min-width:320px) and (max-width:480px)
{

    
}
